:root {
  --white: #fff;
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --purple: #8284fa;
  --purple-dark: #5e60ce;

  --blu: #4ea8de;
  --purple-dark: #1e6f9f;

  --red-500: #e25858;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  background: var(--gray-700);
  -webkit-font-smoothing: antialiased;
}

